/* font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* colors  */
:root {
  --red-light: rgb(182, 29, 55);
  --red-medium: #b72a2a;
  --red-dark: rgb(128, 2, 37);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  padding: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
/* section hero */
/* icons fontawesome */

.icon-section-hero {
  font-size: 50px;
  color: white;
  background-color: var(--red-light);
}

/* section 2 */
#bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/paysage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: auto;
  padding: 36px 0px;
  /* height: 50vh; */
}
