/* font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* colors  */
:root {
  --red-light: rgb(182, 29, 55);
  --red-medium: #b72a2a;
  --red-dark: rgb(128, 2, 37);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  padding: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
.bg-red-light {
  background-color: var(--red-light);
}
.bg-red-medium {
  background-color: var(--red-medium);
}
.bg-red-dark {
  background-color: var(--red-dark);
}

/* section hero */
/* icons fontawesome */

.icon-section-hero {
  font-size: 50px;
  color: white;
  background-color: var(--red-light);
}

/* section 2 */
#bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/paysage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: auto;
  padding: 36px 0px;
  min-height: 50vh;
}

/* section 3 */
#bg-img1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/ordinateur.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 36px 0px;
  min-height: 45vh;
}

/* section 4 */
#section-4 {
  min-height: 50vh;
}
#circle {
  background: var(--red-medium);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  opacity: 20%;
}
.picto {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
}

/* section 5 */
#section-5 {
  min-height: 60vh;
}
